<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034764408533-plp9nudhfohio83ljeh3cq6sjh74tg41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034764408533-plp9nudhfohio83ljeh3cq6sjh74tg41</string>
	<key>API_KEY</key>
	<string>AIzaSyAeAnWQM5rq3ihfQaISDugSMoh4OYtTmbA</string>
	<key>GCM_SENDER_ID</key>
	<string>1034764408533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleWebappOnFirebase</string>
	<key>PROJECT_ID</key>
	<string>test-samplewebapp-on-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>test-samplewebapp-on-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034764408533:ios:2fb694b6ab92f4c37bf45c</string>
</dict>
</plist>